name: ROS Debian Package Builder

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 1"
  push:
    paths-ignore:
      - "README.md"

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # - {ros: humble, deb: jammy}
          - {ros: jazzy, deb: noble}
        runner: [ubuntu-24.04]

    steps:
      - run: dpkg-architecture >> "$GITHUB_ENV"

      - uses: jspricke/ros-deb-builder-action@main
        with:
          ROS_DISTRO: ${{ matrix.ros }}
          DEB_DISTRO: ${{ matrix.deb }}
          DEB_ARCH: ${{ env.DEB_HOST_ARCH }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQUASH_HISTORY: true
          SBUILD_CONF: "$enable_network = 1;"
